.nav-holder
  %ul#nav
    %li.active
      %a.smoothScroll{href: "#firstPage"}
        %span Infographic
    %li
      %a.smoothScroll{href: "#secondPage"}
        %span Pros/Cons
    %li
      %a.smoothScroll{href: "#thirdPage"}
        %span Grants
    %li
      %a.smoothScroll{href: "#fourthPage"}
        %span Videos
    %li
      %a.smoothScroll{href: "#fifthPage"}
        %span Cost
  .slider-holder
    .slider-block
      .slider
        .pin
