<div class="menu">
	<ul id="menu">
		<li><a class="smoothScroll active" href="#firstPage">What Is It</a></li>
		<li><a class="smoothScroll" href="#secondPage">Pros/Cons</a></li>
		<li><a class="smoothScroll" href="#thirdPage">Grants</a></li>
		<li><a class="smoothScroll" href="#fourthPage">Videos</a></li>
		<li><a class="smoothScroll" href="#fifthPage">Cost</a></li>
	</ul>
</div>
