<div class="menu">
	<ul id="menu">
		<li><a class="smoothScroll" href="#firstPage">Pros and Cons</a></li>
		<li><a class="smoothScroll" href="#secondPage">Grants</a></li>
		<li><a class="smoothScroll" href="#thirdPage">Pictures</a></li>
		<li><a class="smoothScroll" href="#fourthpage">Installation Costs</a></li>
		<li><a class="smoothScroll" href="#first" id="top"><img src="/assets/top-0586be05c51841e0ea915d3b217ea86a.png"></img></a></li>
	</ul>
</div>
