<div class="menu">
	<ul id="menu">
		<li><a class="smoothScroll" href="#firstPage">Pros and Cons</a></li>
		<li><a class="smoothScroll" href="#secondPage">Grants</a></li>
		<li><a class="smoothScroll" href="#thirdPage">Pictures</a></li>
		<li><a class="smoothScroll" href="#fourthPage">Infographic</a></li>
	</ul>
</div>
