<div class="menu">
	<ul id="menu">
		<li><a class="smoothScroll active first" href="#firstPage">What Is It</a></li>
		<li><a class="smoothScroll second" href="#secondPage">Pros/Cons</a></li>
		<li><a class="smoothScroll third" href="#thirdPage">Grants</a></li>
		<li><a class="smoothScroll fourth" href="#fourthPage">Videos</a></li>
		<li><a class="smoothScroll fifth" href="#fifthPage">Cost</a></li>
	</ul>
</div>
