<div class="nav-holder">
	<ul id="nav">
		<li class="active"><a href="#firstPage" class="smoothScroll"><span>Infographic</span></a></li>
		<li><a href="#secondPage" class="smoothScroll"><span>Pros/Cons</span></a></li>
		<li><a href="#thirdPage" class="smoothScroll"><span>Grants</span></a></li>
		<li><a href="#fourthPage" class="smoothScroll"><span>Videos</span></a></li>
		<li><a href="#fifthPage" class="smoothScroll"><span>Cost</span></a></li>
	</ul>
	<div class="slider-holder">
		<div class="slider-block">
			<div class="slider"><div class="pin"></div></div>
		</div>
	</div>
</div>
