- @title="Pure Energy | About"
- @meta="Sameet Sapra, John Stavropoulos, Andrew Merkley, Energy Solutions for Homeowners, Pure Energy, Neuqua Valley High School, Business Professionals of America, pure energy homeowners, pure energy solutions for homeowners, nearby pure energy, pure energies"
%h1.header Business Professionals of America
%table.averagecost#about{:align => "center"}
  %tr
  %tr
    %td Name of Chapter
    %td Neuqua Valley High School - Kevin Geers
  %tr
    %td Theme
    %td Energy Solutions for Homeowners
  %tr
    %td School
    %td Neuqua Valley High School
  %tr
    %td City
    %td Naperville
  %tr
    %td State
    %td Illinois
  %tr
    %td Year
    %td 2014
%h1.header The Team
%section.team
  %article
    %figure
      = image_tag("sameet.png", :class => "contact", :alt => "Sameet Sapra")
      %figcaption Sameet Sapra
      %p Web Developer
  %article
    %figure
      = image_tag("andrew.png", :class => "contact", :alt => "Andrew Merkley")
      %figcaption Andrew Merkley
      %p Content Researcher
  %article
    %figure
      = image_tag("john.png", :class => "contact", :alt => "John Stavropoulos")
      %figcaption John Stavropoulos
      %p Responsive Design / SEO
