- content_for :head do
  %title Energy Solutions | Contact
%h1.header Who Are We
%section.team
  %article
    %figure
      = image_tag("sameet.jpg", :class => "contact")
      %figcaption Sameet Sapra
  %article
    %figure
      = image_tag("andrew.jpg", :class => "contact")
      %figcaption Andrew Merkley
  %article
    %figure
      = image_tag("john.jpg", :class => "contact john")
      %figcaption John Stravopoulos
  %article
    %figure
      = image_tag("kevin.jpg", :class => "contact")
      %figcaption Kevin Zhang
