- content_for :head do
  %title Pure Energy | About Us
  %meta{content: "Sameet Sapra, John Stavropoulos, Andrew Merkley, Kevin Zhang, Energy Solutions for Homeowners, Neuqua Valley High School", name: "description"}/
%h1.header Business Professionals of America
%table.averagecost#about{:style => "width: 50%; margin-top: 30px;", :align => "center"}
  %tr
    %td Name of Chapter
    %td Neuqua Valley High School - Kevin Geers
  %tr
    %td Theme
    %td Energy Solutions for Homeowners
  %tr
    %td School
    %td Neuqua Valley High School
  %tr
    %td City
    %td Naperville
  %tr
    %td State
    %td Illinois
  %tr
    %td Year
    %td 2014
%h1.header The Team
%section.team
  %article
    %figure
      = image_tag("sameet.png", :class => "contact")
      %figcaption Sameet Sapra
      %p Web Developer
  %article
    %figure
      = image_tag("andrew.png", :class => "contact")
      %figcaption Andrew Merkley
      %p Content Researcher
  %article
    %figure
      = image_tag("john.png", :class => "contact")
      %figcaption John Stavropoulos
      %p Responsive Design / SEO
  / %article
  /   %figure
  /     = image_tag("kevin.png", :class => "contact")
  /     %figcaption Kevin Zhang
  /     %p Layout / Design
