<h1 class="header">Sources</h1>
<ul>
<li><a href="http://www.greenhomeenergysolutions.co.uk/">Green Home Energy Solutions</a></li>
<li><a href="http://www.washingtonpost.com/blogs/wonkblog/wp/2013/07/15/these-maps-show-the-best-places-to-put-solar-and-wind-power-its-not-where-you-think/">Washington Post</a></li>
<li><a href="http://news.discovery.com/tech/alternative-power-sources/ten-places-harness-solar.htm">Discovery News</a></li>
<li><a href="http://www.nrel.gov/gis/images/map_pv_national_lo-res.jpg">NREL</a></li>
<li><a href="http://www.eia.gov/state/">EIA</a></li>
<li><a href="http://earth911.com/news/2009/02/09/the-homeowners-guide-to-alternative-energy/">Earth 911</a></li>
</ul>
