- content_for :head do
  %title Pure Energy | About Us
%h1.header Business Professionals of America
%table.averagecost#about{:style => "width: 50%; margin-top: 30px;", :align => "center"}
  %tr
    %td Name of Chapter
    %td Neuqua Valley High School - Kevin Geers
  %tr
    %td Theme
    %td Energy Solutions for Homeowners
  %tr
    %td School
    %td Neuqua Valley High School
  %tr
    %td City
    %td Naperville
  %tr
    %td State
    %td Illinois
  %tr
    %td Year
    %td 2014
%h1.header The Team
%section.team
  %article
    %figure
      = image_tag("sameet.jpg", :class => "contact john")
      %figcaption Sameet Sapra
      %p Web Developer
  %article
    %figure
      = image_tag("andrew.jpg", :class => "contact")
      %figcaption Andrew Merkley
      %p Paperwork Manager / Researcher
  %article
    %figure
      = image_tag("john.jpg", :class => "contact john")
      %figcaption John Stavropoulos
      %p Search Engine Optimizer
  %article
    %figure
      = image_tag("kevin.jpg", :class => "contact")
      %figcaption Kevin Zhang
      %p Responsive Design / Researcher
