- content_for :head do
	%title Pure Energy | All Sources
	%meta{content: "A brief overview of the cost and use of each renewable energy resource for homeowners.", name: "description"}/
#first
	%h1.header All Sources
	#map
		= image_tag("all.jpg", :class => "displayimage", :style=> "width: 100%", :usemap => "#energymap")
