- @title="Pure Energy | All Sources"
- @meta="renewable energy for homeowners, clean energy, pure energy, biomass, biofuel, geothermal, water, solar, wind"
#first
	%h1.header All Sources
	#map
		= image_tag("all.jpg", :class => "displayimage", :style=> "width: 100%", :usemap => "#energymap", :alt => "All Renewable Energy Resources")
		= image_tag("compareall.png", :style => "width: 100%; margin-top: 50px;", :alt => "Cost Comparison for All Renewable Energy Resources")
