<div class="menu">
	<ul id="menu">
		<li><a class="smoothScroll" href="#firstPage">Cost vs Risk</a></li>
		<li><a class="smoothScroll" href="#secondPage">Grants</a></li>
		<li><a class="smoothScroll" href="#thirdPage">Pictures</a></li>
		<li><a class="smoothScroll" href="#fourthpage">Installation Costs</a></li>
	</ul>
</div>
<div class="section" id="first">
	<h1>Cost vs. Risk</h1>
	<%= image_tag("costandrisk.png", :class => "displayimage") %>
</div>
