- content_for :head do
  %title Pure Energy | Compare
  %meta{content: "Renewable energy map, cost versus risk analysis of each renewable energy source. ", name: "description"}/
#first
  %h1.header Interactive Renewable Energy Map
  .applet
    %iframe#energymap{height: "800", src: "http://renewables-map.nrdcapps.org/?", width: "700"}
