- content_for :head do
  %title Pure Energy | Compare
  %meta{content: "Renewable energy map, cost versus risk analysis of each renewable energy source. A brief overview of the cost and use of each renewable energy resource for homeowners.", name: "description"}/
#first
  %h1.header Interactive Renewable Energy Map
  .applet
    %iframe#energymap{height: "800", src: "http://renewables-map.nrdcapps.org/?", width: "700"}
  %h1.header All Sources
  #map
    = image_tag("all.jpg", :class => "displayimage", :style=> "width: 100%", :usemap => "#energymap")
    %map.navmap{:name => "energymap"}
      %area{:shape => "rect", :coords => "20,200,400,450", :href => "/assets/Hydro-Summary-aedb80be103143965e23c9b9a9089f0a.png", :alt => "Water"}
      / %area{:shape => "rect", :coords => "0,0,500,600", :href => "http://www.google.com", :alt => "Biofuel"}
      / %area{:shape => "rect", :coords => "0,0,500,600", :href => "http://www.google.com", :alt => "Wind"}
      / %area{:shape => "rect", :coords => "0,0,500,600", :href => "http://www.google.com", :alt => "Solar"}
      / %area{:shape => "rect", :coords => "0,0,500,600", :href => "http://www.google.com", :alt => "Water"}
