<h1 class="header">Who Are We</h1>
<section class="team">
<article>
	<figure>
	<%= image_tag("sameet.png", :class => "contact") %>
	<figcaption>Sameet Sapra</figcaption>
	</figure>
</article>
<article>
	<figure>
		<%= image_tag("andrew.png", :class => "contact") %>
		<figcaption>Andrew Merkley</figcaption>
	</figure>
</article>
<!-- <article>
	<figure>
		<%#= image_tag("john.png", :class => "contact") %>
		<figcaption>John Stravopoulos</figcaption>
	</figure>
</article> -->
<article>
	<figure>
		<%= image_tag("kevin.png", :class => "contact") %>
		<figcaption>Kevin Zhang</figcaption>
	</figure>
</article>
</section>
