<h1 class="header">Who Are We</h1>
<section>
<article>
	<figure>
	<%= image_tag("sameet.png", :class => "contact") %>
	<figcaption>Sameet Sapra</figcaption>
	</figure>
	<p class="contactinfo">
		The coding machine, Sameet is responsible for the
		construction of the website and the compilation of
		the research.
	</p>
</article>
<article>
	<figure>
		<%= image_tag("andrew.png", :class => "contact") %>
		<figcaption>Andrew Merkley</figcaption>
	</figure>
	<p class="contactinfo">
		The spokesperson of the group, Andrew manages the group
		and discovers crucial sources of information for the site.
	</p>
</article>
<article>
	<figure>
		<%= image_tag("john.png", :class => "contact") %>
		<figcaption>John Stravopoulos</figcaption>
	</figure>
	<p class="contactinfo">
		John ensures that all deadlines and requirements have been met
		and fulfilled for the project.
	</p>
</article>
<article>
	<figure>
		<%= image_tag("kevin.png", :class => "contact") %>
		<figcaption>Kevin Zhang</figcaption>
	</figure>
	<p class="contactinfo">
		The senior of the group, Kevin is responsible for the
		presentation of the website and how it meets all of the
		requirements.
	</p>
</article>

</section>
