- @title="Pure Energy | Geothermal"
- @meta="geothermal energy, heat pumps, infographics, geothermal advantages, energy solutions for homeowners,pure energy homeowners, pure energy solutions for homeowners, nearby pure energy, pure energies"
#firstPage.section.geo1
  = image_tag("geo-1.png", :class => "tiled geoinfo", :alt => "Geothermal Infographic")
  = image_tag("geo-5.png", :class => "tiled geoinfo", :alt => "Geothermal Infographic")
  = image_tag("geo-9.png", :class => "tiled geoinfo", :alt => "Geothermal Infographic")
  = image_tag("geo-7.png", :class => "tiled geoinfo", :alt => "Geothermal Infographic")
  =# image_tag("geo-6.png", :class => "tiled geoinfo", :alt => "Geothermal Infographic")
#secondPage.section.active
  %h1.header Advantages and Disadvantages
  #pro
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Less Emissions
        .col-content.equal-height
          %p Geothermal heat pumps have less of a negative effect on the environment. Open loop systems reduce emissions by up to 40%.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Reliability
        .col-content.equal-height
          %p Geothermal heat pumps can last from 20 to 50 years.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 Easy Retrofitting
        .col-content.equal-height
          %p Geothermal systems are easy to integrate with older systems without complicated technical problems.
    .f-col-wrapper
      .col.f-col4
        .icon-wrap
          %h3 Emission Free
        .col-content.equal-height
          %p Emission Free, No Carbon Released, No Fuel Needed = No need to transport anything for energy purposes.
  #con
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Initial Cost
        .col-content.equal-height
          %p Installation of a heat pump and interior configuration can nearly be double that of traditional furnace systems.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Space Needed
        .col-content.equal-height
          %p The trenches or geothermal bore holes for the piping can require several hundred feet of open space.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Energy Intensive
        .col-content.equal-height
          %p No mining of fossil fuels = No need to transport anything for energy purposes.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 Residential Energy Efficient Property Credit (Section 1122)
    %p
      This nonrefundable energy tax credit will help individual taxpayers pay for qualified residential alternative energy equipment, such as solar hot water heaters, geothermal heat pumps and wind turbines. The new law removes some of the previously imposed maximum amounts and allows for a credit equal to 30 percent of the cost of qualified property.
    %h2 New Clean Renewable Energy Bonds (Section 1111)
    %p
      The new law increases the amount of funds available to issue new clean renewable energy bonds from the one-time national limit of $800 million to $2.4 billion. These qualified tax credit bonds can be issued to finance certain types of facilities that generate electricity from renewable sources (for example, wind and solar).
    %h2 Extension of Renewable Energy Production Tax Credit (Section 1101)
    %p
      The new law generally extends the “eligibility dates” of a tax credit for facilities producing electricity from wind, closed-loop biomass, open-loop biomass, geothermal energy, municipal solid waste, qualified hydropower and marine and hydrokinetic renewable energy. The new law extends the "placed in service date" for wind facilities to Dec. 31, 2012. For the other facilities, the placed-in-service date was extended from December 31, 2010 (December 31, 2011 in the case of marine and hydrokinetic renewable energy facilities) to Dec. 31, 2013.
    %h2 Geothermal Energy Tax Rebate
    %p
      Those who install a geothermal heat pump can qualify for a significant rebate from the Internal Revenue Service (IRS) through their tax return. This funding does not provide for the entire cost of the geothermal system, though. Taxpayers may only claim up to 30 percent of the value of a geothermal heat pump--including installation costs. The tax credit is only available for geothermal heat pumps, and can only be applied to systems that are Energy Star certified. Geothermal heat pumps funded under this credit can serve both heating and cooling purposes: geothermal systems use the earth's ability to absorb and retain heat to help stabilize room temperatures. Additionally, this tax credit can be applied to geothermal heat pumps at a residence other than your main home.
    %h2 Emergency Economic Stabilization Act - 2008
    %p
      The 2008 Emergency Economic Stabilization Act may cover up to 30 percent of the costs of the heating system, provided that the system meets geothermal energy requirements established by the federal Energy Star program. The homeowner must provide evidence of the cost of installation cost and the date on which installation was completed. The grant is awarded in the form of a tax incentive for the year in which you applied for the incentive.
#fourthPage.section
  %h1.header Videos
  %iframe.video{allowfullscreen: "", height: "360", src: "//www.youtube-nocookie.com/embed/_gfb9Mrn3rw?rel=0&showinfo=0&autohide=1", width: "640"}
  .video-description
    %p The video previews the installation of geothermal energy in a home in New Jersey. Be sure to check out Part 2 of this video.
  %iframe.video{width: "640", height: "360", src: "//www.youtube-nocookie.com/embed/d85FgaFin2A?rel=0&showinfo=0&autohide=1", allowfullscreen: ""}
  .video-description
    %p This video shows a residential and commercial instance of geothermal energy in action. The narrator of the video also explains how a geothermal heat pump is like a refrigerator, and how homeowners can heat their home with just 3 degrees.
  %iframe.video{width: "640", height: "360", src: "//www.youtube-nocookie.com/embed/U8olw_nG1zo?rel=0&showinfo=0&autohide=1", allowfullscreen: ""}
  .video-description
    %p Here, see a geothermal heat pump system supplying a radiant floor heating and cooling system. The video reveals the set up process, with images of valves and the overall finished installation.
#fifthPage.section
  %h1.header Cost of Installation
  %h1.cost-header Cost for 2500 Square Foot Home
  %p.cost-text Please note that the figures are approximate and we would always recommend that you request an on-site assessment before deciding on the right solution for you.
  %table.averagecost#geo-table
    %tr
      %td
      %td#mobile Parts
      %td Net Cost
      %td Savings
      %td#mobile ROI
      %td Payback Years
      %td#mobile 6% Mortgage
      %td#mobile Cash Flow
    %tr
      %td Horiz. 5 ton (Solar)
      %td#mobile $47,500
      %td $33,250
      %td $200
      %td#mobile 7.2%
      %td 13.9
      %td#mobile $199
      %td#mobile $1
    %tr
      %td Horiz. 5 ton Heat/Cool
      %td#mobile $29,500
      %td $20,650
      %td $120
      %td#mobile 7.0%
      %td 14.3
      %td#mobile $124
      %td#mobile $4
    %tr
      %td Vert. 6 ton Heat/Cool
      %td#mobile $34,000
      %td $23,800
      %td $130
      %td#mobile 6.6%
      %td 15.3
      %td#mobile $143
      %td#mobile $13
