- content_for :head do
  %title Energy Solutions | Home
  %meta{content: "Energy Solutions home page. Resource for homeowners to consult for energy solutions that are practical in their geographical area.", name: "description"}/
.imagecarousel.has-dots
  %ul
    %li
      %p Wind
    %li
      %p Solar
    %li
      %p Geothermal
    %li
      %p Biofuel
.welcome
  Welcome Homeowners
  %p.txt-welcome Homeowners, here is the website for the most relevant information on all of the possible renewable energy solutions. Browse through our information or view the most suitable energy sources in your location by viewing the best renewable energy sources near you.
#special.special.button
  %p Find Energy Near You
