<div id="myCarousel">
<div id="carousel" class="carousel slide">
	<ol class="carousel-indicators">
	  <li data-target="#carousel" data-slide-to="0" class="active"></li>
	  <li data-target="#carousel" data-slide-to="1"></li>
	  <li data-target="#carousel" data-slide-to="2"></li>
	  <li data-target="#carousel" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner">
		<div class="active item">
			<div class="homepagetext">
				<h1 class="homepageheader">Renewable Energy</h1>
				<p class="homepagedescription">The future is in our hands.</p>
			</div>
			<%= image_tag("solar.jpg", :class => "carouselimg")%>
		</div>
		<div class="item">
			<div class="homepagetext">
				<h1 class="homepageheader">Renewable Energy</h1>
				<p class="homepagedescription">Energy is beautiful.</p>
			</div>
			<%= image_tag("tidal.jpg", :class => "carouselimg")%>
		</div>
		<div class="item">
			<div class="homepagetext">
				<h1 class="homepageheader">Renewable Energy</h1>
				<p class="homepagedescription">Clean. Safe. Efficient.</p>
			</div>
			<%= image_tag("wind.jpg", :class => "carouselimg")%>
		</div>
		<div class="item">
			<div class="homepagetext">
				<h1 class="homepageheader">Renewable Energy</h1>
				<p class="homepagedescription">The world needs it.</p>
			</div>
			<%= image_tag("geothermal.jpg", :class => "carouselimg")%>
		</div>
	</div>
</div>
</div>
