<div class="imagecarousel has-dots">
	<ul>
		<li style='background-image: url("/assets/solar-18694222104b6ced788b349cd63f53cc.jpg")'>
			<div class="caption">
				<h1>Renewable Energy.</h1>
				<p>The future is in our hands.</p>
			</div>
		</li>
		<li style='background-image: url("/assets/wind-eaac506eb1ae1d11c572e1bec4b04ca2.jpg");'>
			<div class="caption">
				<h1>Renewable Energy.</h1>
				<p>Energy is awesome.</p>
			</div>
		</li>
		<li style='background-image: url("/assets/geothermal-58b3e2d8eeb063847de79d733f7611e0.jpg");'>
			<div class="caption">
				<h1>Renewable Energy.</h1>
				<p>Clean. Safe. Efficient.</p>
			</div>
		</li>
		<li style='background-image: url("/assets/solar-46b6cfecb2169a3d14552f90196a56fb.jpg");'>
			<div class="caption">
				<h1>Renewable Energy.</h1>
				<p>The world needs it.</p>
			</div>
		</li>
		<li style='background-image: url("/assets/solarpanels-c787e429912f640d7770f1cc482073ad.jpg");'>
			<div class="caption">
				<h1>Renewable Energy.</h1>
				<p>Now more than ever.</p>
			</div>
		</li>
		<li style='background-image: url("/assets/wind-ee6159e5689bd3475afc83cefc876069.jpg");'>
			<div class="caption">
				<h1>Renewable Energy.</h1>
			</div>
		</li>
	</ul>
</div>

