<div id="carousel" class="carousel slide">
	<!-- <ol class="carousel-indicators">
	  <li data-target="#carousel" data-slide-to="0" class="active"></li>
	  <li data-target="#carousel" data-slide-to="1"></li>
	  <li data-target="#carousel" data-slide-to="2"></li>
	  <li data-target="#carousel" data-slide-to="3"></li>
	</ol> -->
	<div class="carousel-inner">
		<div class="item active">
			<%=  image_tag("solar.jpg", :class => "carouselimg")%>
		</div>
		<div class="item">
			<%=  image_tag("tidal.jpg", :class => "carouselimg")%>
		</div>
		<div class="item">
			<%=  image_tag("wind.jpg", :class => "carouselimg")%>
		</div>
		<div class="item">
			<%=  image_tag("geothermal.jpg", :class => "carouselimg")%>
		</div>
	</div>
	<a class="left carousel-control" href="#carousel" data-slide="prev">
		<span></span>
	</a>
	<a class="right carousel-control" href="#carousel" data-slide="next">
		<span></span>
	</a>
</div>
