- content_for :head do
  %title Energy Solutions | Home
  %meta{content: "Energy Solutions home page. Resource for homeowners to consult for energy solutions that are practical in their geographical area.", name: "description"}/
.imagecarousel.has-dots
  %ul
    %li
      .header.welcome Welcome Homeowners
      .caption
        %p The future is in our hands.
    %li
      .caption
        %p Energy is awesome.
    %li
      .caption
        %p Clean. Safe. Efficient.
    %li
      .caption
        %p Caption 1
    %li
      .caption
        %p Caption 2
    %li
      .caption
        %p Caption 3
    %li
      .caption
        %p Caption 4
    %li
