- content_for :head do
  %title Pure Energy | Home
  %meta{content: "Pure Energy home page. Resource for homeowners to consult for energy solutions that are practical in their geographical area.", name: "description"}/
.welcome
  %h1 Energy Saving for Homeowners
  .intro-text
    %i{:class => "fa fa-leaf fa-3x fa-fw icon"}
    %p.intro-inline Energy Sources
    %p.intro-word-wrap Homeowners, browse through our most relevant information on all of the possible renewable energy solutions.
  .intro-text
    %i{:class => "fa fa-sun-o fa-3x fa-fw icon"}
    %p.intro-inline Energy Near You
    %p.intro-word-wrap View the most suitable energy sources in your current location by getting started below.
  .intro-text
    %i{:class => "fa fa-bolt fa-3x fa-fw icon"}
    %p.intro-inline The Future Is Here - For Cheaper
    %p.intro-word-wrap Find federal and state grants for every type of renewable energy
  .imagecarousel.has-dots
    %ul
      %li
        %p Wind
      %li
        %p Solar
      %li
        %p Geothermal
      %li
        %p Biofuel
      %li
        %p Biomass
=render "location"
