<% content_for :head do %>
	<title>Energy Solutions | Home</title>
	<meta name="description" content="Energy Solutions home page. Resource for homeowners to consult for energy solutions that are practical in their geographical area." />
<% end %>
<div class="imagecarousel has-dots">
	<ul>
		<li>
			<div class="caption">
				<p>The future is in our hands.</p>
			</div>
		</li>
		<li>
			<div class="caption">
				<p>Energy is awesome.</p>
			</div>
		</li>
		<li>
			<div class="caption">
				<p>Clean. Safe. Efficient.</p>
			</div>
		</li>
		<li>
			<div class="caption">
				<p>Caption 1</p>
			</div>
		</li>
		<li>
			<div class="caption">
				<p>Caption 2</p>
			</div>
		</li>
		<li>
			<div class="caption">
				<p>Caption 3</p>
			</div>
		</li>
		<li>
			<div class="caption">
				<p>Caption 4</p>
			</div>
		</li>
	</ul>
</div>

