- @title="Pure Energy | Maps"
- @meta="Renewable energy map, cost versus risk analysis of each renewable energy source,pure energy homeowners, pure energy solutions for homeowners, nearby pure energy, pure energies"
#first
	%h1.header How Green Is Your State?
	%iframe#energymap{width: "1100", height:"750", src:"http://www.mphonline.org/green-states/"}
	%h1.header Renewable Energy Sources
	/ %object#energymap{height: "640", width: "1000"}
	/ 	%param{name: "movie", value: "GE_Energy.swf"}/
	%embed#energymap{height: "640", src: "#{asset_path "GE_Energy.swf" }", width: "1000"}
	%h1.header Interactive Renewable Energy Map
	%iframe#energymap{height: "800", src: "http://renewables-map.nrdcapps.org/?", width: "700"}
