- @title="Pure Energy | Maps"
- @meta="Renewable energy map, cost versus risk analysis of each renewable energy source."
#first
	%h1.header Interactive Renewable Energy Map
	.applet
		%iframe#energymap{height: "800", src: "http://renewables-map.nrdcapps.org/?", width: "700"}
		%h1.header How Green Is Your State?
		%iframe#energymap{width: "1100", height:"750", src:"http://www.mphonline.org/green-states/"}
