<p style="display: none;" class="state"><%=@state%></p>
<h1 class="locheader">Grants near <%= @city.titlecase %>, <%= @state %></h1>
<div id="grants">
</div>
<script>
	$(document).ready(function(){
		var state=$('.state').text();
		$("#grants").load("http://www.dsireusa.org/incentives/index.cfm?re=0&ee=0&spv=0&st=0&srp=1&state="+state);
		$.ajax({
		url: 'http://www.dsireusa.org/incentives/index.cfm?re=0&ee=0&spv=0&st=0&srp=1&state='+state,
		type: 'GET',
		success: function(res)
		{
		  var headline = $(res.responseText).find('#incentivelist').html();
		  var div = document.getElementById('grants');
		  div.innerHTML = headline;
		  div.css("display", "none");
		  div.fadeIn(1500);
		  $(".copy a").each(function(){
		  	var _href = $(this).attr("href");
		  	$(this).attr("href", "https://www.dsireusa.org/incentives/"+_href);
		  	$(this).attr("target", "_blank");
		  });
		}
		});
	});
</script>
<h1 class="locheader">Interactive Renewable Energy Map</h1>
<div class="applet">
	<iframe id="energymap" width="700" height="800" src="http://renewables-map.nrdcapps.org/?">
	</iframe>
</div>
