<h1>Water Energy</h1>
<div id="procon">
	<table>
		<tr>
			<th>Pros</th>
			<th>Cons</th>
		</tr>
		<tr>
			<td>
				<%=link_to image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
				<p>Pro 1</p>
			</td>
			<td>
				<%=link_to image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>
				<p>Con 1</p>
			</td>
		</tr>
		<tr>
			<td>
				<%=link_to image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
				<p>Pro 2</p>
			</td>
			<td>
				<%=link_to image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>,
				<p>Con 2</p>
			</td>
		</tr>
	</table>
</div>

