<h1>Wind</h1>
<div id="procon">
	<table>
		<tr>
			<th>Pros</th>
			<th>Cons</th>
		</tr>
		<tr>
			<td>
				<%=link_to image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
				<p>Pro 1</p>
			</td>
			<td>
				<%=link_to image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>
				<p>Con 1</p>
			</td>
		</tr>
		<tr>
			<td>
				<%=link_to image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
				<p>Pro 2</p>
			</td>
			<td>
				<%=link_to image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>,
				<p>Con 2</p>
			</td>
		</tr>
	</table>
</div>
<div class="grants">
	<h2>Assisted Housing Stability and Energy and Green Retrofit</h2>
	<p>
		The Housing and Urban Development Department offers a total of $250 million through its Assisted Housing Stability and Energy and Green Retrofit. The grant allows eligible homeowners to invest in energy and green retrofit projects such as wind and solar energy units.
	</p>
	<h2>USDA Rural Energy for America Program</h2>
	<p>
		The U.S. Department of Agriculture (USDA) helps farmers, ranchers and homeowners in rural areas (population under 20,000) with grants to buy and install solar, wind and other renewable energy systems. The grants can be used to pay up to 25 percent of a project's cost, up to a maximum of $500,000.
	</p>
	<h2>Utility Grant Programs</h2>
	<p>
		Local utility providers also provide grants to homeowners who are willing to invest in solar and wind power generating units. Small wind turbines and solar panels can be used by homes and farms in areas where it is not possible or cost-effective to run power lines. For instance, the Sacramento Municipal Utility District's Residential Loan Program grants 100 percent financing to customers who install solar water-heating systems. The NorthWestern Energy utility in Montana, on the other hand, provides users with the Utility Grant Program. This grant provides incentives of $3 and $2 per watt for solar and energy installations, respectively.
	</p>
	<h2>State Renewable Energy Grants</h2>
	<p>
		State governments also provide solar and wind energy grants to eligible homeowners. For instance the State Grant Program of Colorado provides homeowners with funds to finance solar, wind and other renewable energy projects. Projects must start within three months of the grant approval date and have a maximum estimated project duration of eight months.
	</p>
</div>

