.sources{
	max-width: 80%;
	margin-left: 10%;
}
.src_image{
	max-width: 300px;
	display: inline-block;
	width: 25%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.src_image:hover{
	transform:scale(1.5);
	-ms-transform:scale(1.5); /* IE 9 */
	-moz-transform:scale(1.5); /* Firefox */
	-webkit-transform:scale(1.5); /* Safari and Chrome */
	-o-transform:scale(1.5); /* Opera */
}
@media all and (max-width: 650px){
	.src_image{
		display: block;
		padding: 30px;
	}
}
