$scale: 1.3;

.sources{
	max-width: 80%;
	margin-left: 10%;
}
.src_image{
	max-width: 300px;
	display: inline-block;
	padding: 10px 30px;
	vertical-align: middle;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.src_image:hover{
	transform:scale($scale);
	-ms-transform:scale($scale); /* IE 9 */
	-moz-transform:scale($scale); /* Firefox */
	-webkit-transform:scale($scale); /* Safari and Chrome */
	-o-transform:scale($scale); /* Opera */
}
@media all and (max-width: 900px){
	.src_image{
		display: block;
		padding: 30px;
	}
}
