.team:after {
    clear: both;
    content: "";
    display: table;
}
.averagecost tr:first-child td{
	max-width: 150px !important;
}
#about{
	width: 60%; margin-top: 30px; background: #336ca6;
	td{
		text-align: center;
	}
}
.contact{
	border-radius: 50%;
	display: inline;
	height: auto !important;
	width: 200px;
	text-align: center;
	max-width: 200px;
}
.team article{
	display: inline;
	float: left;
	margin-top: 1%;
	text-align: center;
	width: 33.33%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
figcaption{
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	font-family: 'Droid Sans', Verdana;
}
.contact{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
figure > p{
	padding: 0px;
	margin: 0px;
}
@media all and (max-width: 800px){
	.team article{
		float: none;
	}
	#about{
		width: 90% !important;
	}
	.averagecost{
		tr{
			border-width: 0px;
		}
		td{
			font-size: 15px !important;
		}
	}
	#about td{
		padding: 5px !important;
	}
}
