/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	background-image: url("/assets/beige_paper-069e200b6220364a03288328e39ef2ac.png");
	overflow-x: hidden;
	margin: 0 0 0 0px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
img{
	border: none;
}
p{
	font-family: 'Lato';
}
#content{
	margin: 60px 0px 0px 160px;
}
footer{
	text-align: center;
}
.link, :link:hover{
		color: white;
		text-decoration: none;
}
.nohighlight{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
@media all and (max-width: 970px) {
	#content{
		margin: 60px 0px 0px 0px;
		padding: 0px 10px;
	}
}
