.contact{
	border-radius: 100%;
	display: inline;
	height: auto !important;
	width: 70%;
}
article{
	display: inline;
	float: left;
	margin-top: 1%;
	text-align: center;
	width: 25%;
}
figcaption{
	font-weight: bold;
}
