.text h2{
	border-bottom: 2px solid #1E90FF;
	font-family: 'Lato';
	padding-bottom: 10px;
	font-size: 20px;
}
.icon{
	float: left;
	padding: 5px;
	min-width: 60px;
}
.intro-inline{
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	margin-left: 15px;
}
.intro-word-wrap{
	margin-left: 90px;
	text-align: left;
}
.section h1{
	font-family: 'Lato';
}
.text{
	padding: 0px 20px;
}
.text p{
	line-height: 1.4;
	font-size: 18px;
}
.header{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0px;
	font-family: 'Oswald';
}
.video{
	margin-top: 30px;
	display: inline-block;
	width: 50%;
	min-height: 400px;
	max-height: 600px;
}
.video-description{
	display: inline;
	float: right;
	vertical-align: top;
	font-size: 23px;
	width: 45%;
}
.image{
	vertical-align: middle;
}
.inline{
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	min-width: 160px;
	font-size: 19px;
	padding-left: 5px;
}
.procon{
	margin-left: 20px;
}
.procons{
	display: block;
	padding-left: 10px;
}
#pro{
	display: inline-block;
}
#con{
	display: inline-block;
	float: right;
}
.menu{
	position: fixed;
	top: 30%;
	left: -30px;
	max-width: 150px;
}
.section{
	margin-left: -30px;
	padding: 50px 20px 100px 20px;
}
#firstPage{
	// background-color: white;
	padding-top: 90px;
}
#secondPage{
	/*background-color: #F0F2F4;*/
	background-color: #d3f2f0;
}
#thirdPage{
	background-color: #D5D7DD;
}
#fourthPage{
	background-color: #7BAABE;
}
#fifthPage{
	background-color: #1BABB7;
}
.displayimage{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.tiled{
	display: inline-block;
	vertical-align: top;
}
.windinfo{
	width: 49%;
}
.geoinfo{
	width: 49%;
}
.word-wrap{
	display: inline-table;
	min-height: 30px;
	overflow: auto;
	max-width: 250px;
	font-size: 14px;
	word-wrap: break-word;
	text-align: left;
}
.detailtext{
	padding-left: 10px;
	font-size: 19px;
	margin-top: 0px;
}
.costtable tr td:first-child{
	background-color: gray;
	color: white;
}
.cost{
	padding-bottom: 20px;
	float: left;
	vertical-align: middle;
}
.costheader{
	font-size: 30px;
	font-weight: 300;
	display: block;
	font-family: 'Droid Sans';
}
.dial{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	font: bold 15px Arial;
	height: 50px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 155px;
}
.currencyinput{
	display: inline-block;
}
.costplugin{
	display: inline-block;
}
.costtext{
	display: inline-block;
}
.cost-header{
	text-align: center;
	font-size: 20px;
}
.costinput{
	display: inline-block;
	width: 40px;
	font-family: 'Lato';
}
#biomasstable td{
	padding: 5px;
}
.title{
	color: #FFFFFF;
	left: 50%;
	position: absolute;
	top: 0;
	font-family: 'Lato';
}
.mobile{
	display: none;
	padding-left: 20px;
}
#geo-table{
	tr td:first-child{
		max-width: 130px;
	}
	tr:first-child td{
		max-width: 90px;
	}
}
.averagecost{
	font-family: 'Lato';
	tr{
		text-align: center;
		border: 1px solid black;
	}
	tr:first-child td, tr td:first-child{
		text-align: center;
		font-weight: bold;
		font-size: 19px;
		font-family: 'Lato';
		max-width: 50px;
	}
	td{
		font-size: 17px;
		padding: 10px;
	}
}
@media all and (max-width: 1000px) {
	#firstPage{
		padding: 0px;
	}
	#con{
		float: none;
	}
	.costfacts{
		float: none;
		padding-left: 10%;
	}
	.detailtext{
		width: 100%;
	}
	.section{
		padding: 30px 25px;
	}
	.procon{
		margin: 0px;
	}
	#cssmenu{
		margin-top: -21px;
	}
}
@media all and (max-width: 650px){
	.mobile{
		display: block;
	}
	.displayimage{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	.tiled{
		display: block;
	}
	.windinfo, .geoinfo{
		width: 100%;
	}
	.averagecost tr:first-child td, .averagecost tr td:first-child{
		text-align: center;
		font-weight: bold;
		font-size: 11px;
		font-family: 'Lato';
		max-width: 50px;
	}
	.averagecost td{
		font-size: 10px;
		padding: 0px;
	}
	.text{
		padding: 0px;
	}
}
@media all and (max-width: 900px){
	.word-wrap{
		max-width: 90%;
	}
}
@media all and (max-width: 700px){
	.video{
		width: 100%;
		height: 400px;
	}
	.video-description{
		float: none;
		p{
		width: 100%;
		}
	}
}
