.text h2{
	border-bottom: 2px solid #1E90FF;
	font-family: 'Oldenburg';
	padding-bottom: 10px;
	font-size: 20px;
}
.section h1{
	font-family: 'Helvetica Neue';
}
.text{
	font-size: 150%;
	padding-left: 20px;
}
.text p{
	line-height: 1.4;
	font-size: 18px;
}
.header{
	text-align: center;
	padding: 20px;
	font-family: 'Helvetica Neue';
}
.section{
	padding-bottom: 50px;
}
#menu li {
	display:block;
	margin-bottom: 10px;
	background: none repeat scroll 0 0 #a8a8a8;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	font-family: 'Lato';
}
#menu li.active{
	background: none repeat scroll 0 0 #7d7d7d;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover, a.active{
	color: #000;
}
#menu li:hover{
	background: none repeat scroll 0 0 #7d7d7d;
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
td:nth-child(2n+1) {
	border-right: 5px solid #000000;
	padding-left: 0px;
}
.image{
	vertical-align: middle;
}
table{
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
td {
	padding-top: 15px;
	text-align: center;
}
th {
	border-bottom: 5px solid #000000;
	font-size: 150%;
	font-family: 'Helvetica Neue';
}
.inline{
	display: inline;
	vertical-align: middle;
	font-weight: bold;
	font-size: 19px;
}
.menu{
	position: fixed;
	top: 30%;
	left: -30px;
	max-width: 150px;
}
#getlocation
{
	float: left;
}
.section{
	margin: -75px 0px 75px -30px;
	padding: 30px 10px;
}
#firstPage{
	/*#1BBC9B;*/
	background-color: white;
	/*#D5D7DD*/
	/*#1BABB7*/
}
#secondPage{
	background-color: #6AB29F;
}
#thirdPage{
	background-color: #4BBFC3;
}
#fourthPage{
	background-color: #7BAABE;
	/*background-color: #D0482B;*/
}
#fifthPage{
	background-color: #1BABB7;
}
.displayimage{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#first{
	text-align: center;
	width: 100%;
}
.word-wrap{
	display: inline-table;
	min-height: 30px;
	overflow: hidden;
	max-width: 280px;
	font-size: 14px;
	word-wrap: break-word;
	text-align: left;
}
.detailtext{
	padding-left: 10px;
	font-size: 17px;
}
.cost{
	padding-bottom: 20px;
	float: left;
	vertical-align: middle;
}
.costheader{
	font-size: 30px;
	font-weight: 300;
	display: block;
	font-family: 'Droid Sans';
}
.dial{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	font: bold 15px Arial;
	height: 50px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 155px;
}
.currencyinput{
	display: inline-block;
}
.costplugin{
	display: inline-block;
}
.costtext{
	display: inline-block;
}
.costinput{
	display: inline-block;
	width: 40px;
	font-family: 'Lato';
}
.mobile{
	display: none;
	padding-left: 20px;
}
.costfacts{
	display: inline-block;
	list-style-type: square;
	margin-right: 5%;
	max-width: 60%;
}
.costfacts span{
	min-height: 10%;
}
@media all and (max-width: 970px) {
	.image, .menu, .costplugin{
		display: none;
	}
	.costfacts{
		float: none;
		padding-left: 10%;
	}
	.inline{
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	.detailtext{
		width: 100%;
	}
	th{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	td:nth-child(2n+1){
		border: none;
		color: green;
	}
	td:nth-child(2){
		padding: 0px;
		color: #EB4C42;
	}
	body{
		font-size: 90%;
	}
	.section{
		padding: 30px 25px;
	}
}
@media all and (max-width: 650px){
	table, td, tr{
			display: block;
		}
		iframe{
			display: none;
		}
	.mobile{
		display: block;
	}
}
