@-webkit-keyframes loaderSprite
{
	from {
		background-position: 0px;
	}
	to {
		background-position: -2500px;
	}
}
@-moz-keyframes loaderSprite
{
	from {
		background-position: 0px;
	}
	to {
		background-position: -2500px;
	}
}
@keyframes loaderSprite
{
	from {
		background-position: 0px;
	}
	to {
		background-position: -2500px;
	}
}
.loader {
	width: 100px;
	height: 100px;
	background-image: url("/assets/gif-d454d72f6cdf261d689bdfffda24dc2a.png");
	position: fixed;
	top: 50%;
	left: 45%;
	z-index: 10;
	-webkit-animation: loaderSprite 1s steps(25, end) infinite;
	-moz-animation: loaderSprite 1s steps(25, end) infinite;
	animation: loaderSprite 1s steps(25, end) infinite;
}
.gif{
	display: none;
}
