.categorytype, #moregrants h3 {
    color: #C9383E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
.copybold {
    color: #000000;
    font-weight: bold;
}
.grantsinfo{
	margin-left: 50px;
}
