header{
	background-color: #232323;
	padding: 15px 0px 15px 15px;
	margin: 0;
	color: white;
	font: 30px 'Lato';
}
footer{
	font-family: 'Lato';
	background-color: #232323;
	bottom: 0;
	padding: 5px;
	clear: both;
	height: 15px;
	position: relative;
	width: 100%;
	color: white;
}
#carousel{
	width: 50%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
h6{
	font-size: 120%;
	padding-bottom: 20px;
}
.headerlink, .headerlink:hover{
	color: inherit;
	text-decoration: underline;
}
.search{
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.searchbar{
	width: auto;
	height: auto;
}
.searchbutton{
	display: inline;
}
