header{
	background-color: #232323;
	padding: 15px 0px 0px 15px;
	margin: 0;
	color: white;
	font: 30px 'Lato';
}
footer{
	font-family: 'Lato';
	background-color: #232323;
	bottom: 0;
	padding: 5px;
	clear: both;
	height: 30px;
	position: relative;
	width: 100%;
	color: white;
}
#carousel{
	width: 60%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.location{
	padding: 5px;
	border: 4px groove black;
	text-align: center;
	float: right;
	font-size: 120%;
	margin-right: -150px;
}
h6{
	font-size: 120%;
	padding-bottom: 20px;
}
