#header, .link{
	background-color: #232323;
	padding: 15px 0px 15px 15px;
	color: white;
	font: 30px 'Droid Sans';
	width: 100%;
	overflow: hidden;
}
#welcome-header{
	font-size: 28px;
	font-family: 'Lato';
	text-align: center;
}
.welcome{
	margin-top: 35px;
	margin-left: 15px;
	text-align: center;
}
.intro-text{
	width: 40%;
}
.icon{
	float: left;
	padding: 5px;
	min-width: 60px;
}
.intro-inline{
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	margin-left: 15px;
}
.intro-word-wrap{
	margin-left: 80px;
	text-align: left;
}
.footer{
	font-family: 'Lato';
	background-color: #232323;
	padding: 15px;
	height: 25px;
	position: relative;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	color: white;
}
.bpalogo{
	vertical-align: middle;
	margin-top: -10px;
}
.imagecarousel {
	position: absolute;
	right: 50px;
	top: 135px;
	overflow: auto;
	width: 650px;
	max-height: 450px;
}
.imagecarousel li {
	list-style: none;
	background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.imagecarousel ul{
	padding: 0;
}
.imagecarousel ul li {
 	float: left;
}
.imagecarousel ul li p{
	font-family: 'Droid Sans';
	font-size: 25px;
	color: black;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	letter-spacing: 3px;
}
.imagecarousel ul li a{
	width: inherit;
	height: inherit;
	padding: 500px;
	display: block;
	&:hover{
		cursor: pointer;
	}
}
.dots {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  text-align: center;
}
.imagecarousel .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.dots li.active {
  background: #fff;
  opacity: 1;
}
.home{
	padding: 0;
	display: inline-table;
	width: 100%;
	overflow: auto;
}
h6{
	font-size: 120%;
	padding-bottom: 20px;
}
.headerlink{
	color: inherit;
	text-decoration: underline;
}
#loading img{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -143.5px;
	margin-top: -73.5px;
	visibility: hidden;
}
.w3{
	border:0;
	width:88px;
	height:31px;
	margin-right:20px;
	vertical-align: middle;
	float: right;
}
@media only screen and (max-width: 700px){
	.w3, .footer{
		display: none !important;
	}
	.footer{
		font-size: 8px;
		height: 10px;
	}
	#loading{
		top: 40%;
		left: 40%;
	}
	.welcome, .txt-welcome{
		padding: 0;
		margin: 0;
	}
	#special{
		margin-top: 100px;
	}
}
@media only screen and (max-width: 1100px){
	.imagecarousel{
		display: none;
	}
	.intro-text{
		width: 90%;
	}
}
