#header, .link{
	background-color: #232323;
	padding: 15px 0px 15px 15px;
	color: white;
	font: 30px 'Droid Sans';
	width: 100%;
	overflow: hidden;
}
.welcome{
	font-family: 'Oswald';
	font-size: 48px;
	margin-top: 20px;
	letter-spacing: 3px;
}
.footer{
	font-family: 'Lato';
	background-color: #232323;
	padding: 15px;
	height: 25px;
	position: relative;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	color: white;
}
.bpalogo{
	vertical-align: middle;
	float: left;
	margin-top: -10px;
}
.imagecarousel {
	position: relative;
	overflow: auto;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: -10px;
}
.imagecarousel li {
	list-style: none;
}
.imagecarousel ul{
	padding: 0;
}
.imagecarousel h1{
	color: black;
	font-size: 40px;
	line-height: 52px;
	margin-bottom: -10px;
	font-family: 'Bree Serif';
}
.imagecarousel p{
	font-family: 'Droid Sans';
	font-size: 25px;
	color: white;
}
.caption{
	position: absolute;
	top: 43%;
	padding-left: 30px;
}
.imagecarousel ul li {
 	float: left;
	box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1) inset;
	display: block;
	min-height: 800px;
	opacity: 0.65;
}
.imagecarousel ul li:nth-child(1){
	background: url("/assets/geothermal-37031cf4b4867c757adce9a3dd93192b.jpg") no-repeat center bottom;
}
.imagecarousel ul li:nth-child(2){
	background: url("/assets/solarblurred-dee3849b75382d9c6b48d45b4b6e06c6.jpg") no-repeat center top;
}
.imagecarousel ul li:nth-child(3){
	background: url("/assets/solar-678232b8565dbf6af30df30149351706.jpg") no-repeat center top;
}
.imagecarousel ul li:nth-child(4){
	background: url("/assets/carouselwindblurred-114117c14ae4813895f8ec52cd4bb81b.jpg") no-repeat center center;
}
.imagecarousel ul li:nth-child(5){
	background: url("/assets/windblurred-498ed4048cf67f06168e43560f7f9c3d.jpg") no-repeat center center;
}
.imagecarousel ul li:nth-child(6){
	background: url("/assets/wind-a3418564cf258a2a07015e5b05727f61.jpg") no-repeat center center;
}
.imagecarousel ul li:nth-child(7){
	background: url("/assets/solarpanelsblurred-96c22e5da8bb864d002bec5214fd4a68.jpg") no-repeat center center;
}
.imagecarousel ul li:nth-child(8){
	background: url("/assets/carouselhydroblurred-4b48400ed37f87fd57390933a874ced5.jpg") no-repeat center center;
}
.dots {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: 0 auto;
  text-align: center;
}
.imagecarousel .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.dots li.active {
  background: #fff;
  opacity: 1;
}
.home{
	margin-top: -20px;
	padding: 0;
	display: inline-table;
	width: 100%;
	overflow: auto;
}
h6{
	font-size: 120%;
	padding-bottom: 20px;
}
.headerlink{
	color: inherit;
	text-decoration: underline;
}
#loading{
	left: 50%;
	position: absolute;
	top: 50%;
}
.w3{
	border:0;
	width:88px;
	height:31px;
	margin-right:20px;
	vertical-align: middle;
	float: right;
}
@media all and (max-width: 700px) {
	.special{
		width: 50% !important;
		left: 20%;
	}
	.bpalogo, .w3, .footer{
		display: none;
	}
	#header, .link{
		font-size: 15px;
	}
	.footer{
		font-size: 8px;
	}
	#loading{
		top: 40%;
		left: 40%;
	}
	.home{
		margin-top: -15px;
	}
}
