#header, .link{
	background-color: #232323;
	padding: 15px 0px 15px 15px;
	color: white;
	font: 30px 'Droid Sans';
	width: 100%;
	overflow: hidden;
}
.welcome{
	font-family: 'Lato';
	margin-top: 50px;
	max-height: 400px;
	text-align: center;
	h1{
		font-size: 30px;
	}
}
.intro-text{
	width: 40%;
}
.footer{
	font-family: 'Lato';
	background-color: #232323;
	padding: 15px;
	height: 25px;
	position: relative;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	color: white;
}
.bpalogo{
	vertical-align: middle;
	float: left;
	margin-top: -10px;
}
.imagecarousel {
	position: absolute;
	right: 50px;
	top: 150px;
	overflow: auto;
	width: 50%;
	max-height: 450px;
}
.imagecarousel li {
	list-style: none;
}
.imagecarousel ul{
	padding: 0;
}
.imagecarousel ul li {
 	float: left;
}
.imagecarousel ul li p{
	font-family: 'Droid Sans';
	font-size: 25px;
	color: white;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	letter-spacing: 3px;
}
.imagecarousel ul li:nth-child(1){
	background: url("/assets/carousel1-bde69131906ae59f9be2c0f9f5b069be.jpg");
}
.imagecarousel ul li:nth-child(2){
	background: url("/assets/carousel2-fc6ad4a254c290c46c23b522da761d61.jpg");
}
.imagecarousel ul li:nth-child(3){
	background: url("/assets/carousel3-2bcfbeed2552a17cfd7a36ba0137b89b.jpg");
}
.imagecarousel ul li:nth-child(4){
	background: url("/assets/carousel4-5f1a513cc1e180d540a4769bcf6479f8.jpg");
}
.imagecarousel ul li:nth-child(5){
	background: url("/assets/carousel5-8cfd5a8a2ea491d048313a35b63f0cc4.jpg");
}
.imagecarousel ul li:nth-child(6){
	background: url("/assets/carousel6-c285c96dfbbbee2fd3260d7daa9d847f.jpg");
}
.dots {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  text-align: center;
}
.imagecarousel .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
.dots li.active {
  background: #fff;
  opacity: 1;
}
.home{
	margin-top: -20px;
	padding: 0;
	display: inline-table;
	width: 100%;
	overflow: auto;
}
h6{
	font-size: 120%;
	padding-bottom: 20px;
}
.headerlink{
	color: inherit;
	text-decoration: underline;
}
#loading{
	left: 50%;
	position: absolute;
	top: 50%;
}
.w3{
	border:0;
	width:88px;
	height:31px;
	margin-right:20px;
	vertical-align: middle;
	float: right;
}
@media all and (max-width: 700px) {
	.bpalogo, .w3, .footer{
		display: none;
	}
	.intro-text{
		width: 80%;
	}
	#header, .link{
		font-size: 20px;
		padding: 15px 5px;
	}
	.footer{
		font-size: 8px;
		height: 10px;
	}
	#loading{
		top: 40%;
		left: 40%;
	}
	.imagecarousel{
		display: none;
	}
	.welcome, .txt-welcome{
		padding: 0;
		margin: 0;
	}
	.special{
		margin-top: 100px;
	}
}
