/* Pill style */
#scrollUp {
	background-image: url("/assets/top.png") no-repeat;
}
#top{
	display: none;
	position: fixed;
	left: 45px;
	top: 5%;
	z-index: 999;
}
@media all and (max-width: 970px) {
	#top{
		left: 1%;
	}
}
