#energymap{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.header-results{
	font-size: 22px;
	text-align: center;
	font-family: 'Droid Sans';
	padding: 20px 30px 0;
	margin-bottom: 0px;
}
.results{
	display: none;
	display: inline-block !important;
	min-height: 500px;
	min-width: 550px;
	margin-top: 30px;
}
.results-energy{
	display: block;
	text-align: left;
	// text-indent: 20px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.solar{background-color:rgba(255,0,0,0.2);}
.wind{background-color:rgba(128,128,128,0.2);}
.biomass{background-color:rgba(0,128,0,0.2);}
.geothermal{background-color:rgba(255,165,0,0.2);}
.hydroelectric{background-color:rgba(0,0,255,0.2);}
.header-results > span{background-color: rgba(128,0,128,0.2);}
.energy{
	padding: 0px;
	margin: 0px;
	text-indent: 3px;
	margin-left: -3px;
}
.results-inline{
	display: inline-block;
	font-weight: normal;
	font-size: 25px;
	font-family: 'Lato';
}
#first{
	text-indent: 3px;
}
#results-icon-wrap{
	padding: 24px 10px;
}
.source-text{
	font-size: 12px;
	padding-left: 30px;
	margin-top: 0px;
}
#map-canvas{
	height: 500px;
	position: absolute;
	width: 50%;
	margin-top: 30px;
	right: 50px;
	display: inline-block;
}
.grantsinfo{
	padding: 0px 30px;
}
.grantsinfo ul li a{
	color: inherit;
}
#stateincentives p:nth-child(1){
	display: none;
}
#stateincentives > li, #laws > li{
	margin-left: 20px;
	margin-top: 10px;
}
.copy, .grantsinfo li, .grantsinfo a{
	list-style-type: square;
	font-family: 'Lato';
	font-size: 18px;
	padding-bottom: 10px;
}
.copybold{
	font-family: 'Lato';
}
#results-wrapper{
	height: 65px;
}
@media all and (max-width: 1200px){
	#map-canvas{
		width: 95% !important;
		display: block;
		position: relative;
		margin: 0 auto;
		right: 0px;
	}
	.results{
		min-height: 0;
		min-width: 0;
		display: block !important;
		margin: 30px 30px auto;
	}
	.results-energy{
		padding: 0;
	}
	#first{
		text-indent: 0px;
	}
}
@media all and (max-width: 650px){
	.results-inline{
		display: inline;
		padding-left: 5px;
	}
	.home{
		display: inline;
	}
	#map-canvas{
		display: none;
	}
}
