#energymap{
	display: block; margin-left: auto; margin-right: auto;
}
.header-results{
	font-size: 22px;
	text-align: left;
	font-family: 'Droid Sans';
	padding-top: 20px;
	padding-left: 30px;
	margin-bottom: 0px;
}
.results-energy{
	display: block;
	text-align: left;
	text-indent: 20px;
	padding-left: 30px;
}
.results-inline{
	display: inline-block;
	font-weight: normal;
	font-size: 19px;
	font-family: 'Lato';
}
.source-text{
	font-size: 12px;
	padding-left: 30px;
	margin-top: 0px;
}
#map-canvas{
	height: 100%;
}
.grantsinfo{
	padding: 0px 30px;
}
#grants ul li a, #moregrants ul li a{
	color: inherit;
}
#moregrants p:nth-child(1){
	display: none;
}
.copy, #moregrants ul li{
	list-style-type: square;
	font-family: 'Lato';
	font-size: 18px;
	padding-bottom: 10px;
}
.copybold{
	font-family: 'Lato';
}
