#energymap{
	display: block; margin-left: auto; margin-right: auto;
}
.locheader{
	text-align: center;
	font-family: 'Droid Sans';
	padding-top: 30px;
}
#grants ul li a{
	color: inherit;
}
.copy{
	list-style-type: square;
	font-family: 'Droid Sans';
	padding-bottom: 10px;
}
.copybold{
	font-family: 'Lato';
}
#incentivelist{
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}
