$scale: 1.15;

.sources{
	max-width: 90%;
	margin-left: 5%;
}
.src_image{
	display: inline-block;
	padding: 10px 50px;
	vertical-align: middle;
	width: 24%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.src_image > img{
	width: 270px;
}
.src_image:hover{
	transform:scale($scale);
	-ms-transform:scale($scale); /* IE 9 */
	-moz-transform:scale($scale); /* Firefox */
	-webkit-transform:scale($scale); /* Safari and Chrome */
	-o-transform:scale($scale); /* Opera */
}
@media all and (max-width: 900px){
	.src_image{
		display: block;
		padding: 10px;
	}
	.sources{
		margin-left: 0px;
	}
}
