<!DOCTYPE html>
<html>
<head>
  <title>Energy Solutions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oldenburg|Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		Energy Solutions
	</header>
	<div id='cssmenu'>
	<ul>
	   <li class='active'><a href='/'><span>Home</span></a></li>
	   <li class='has-sub'><a href='#'><span>Energy Sources</span></a>
	      <ul>
	         <li><a href='/water/'><span>Water Energy</span></a></li>
	         <li><a href='/wind/'><span>Wind Energy</span></a></li>
	         <li><a href='/solar/'><span>Solar Energy</span></a></li>
	         <li><a href='/geothermal/'><span>Geothermal Energy</span></a></li>
	         <li class='last'><a href='#'><span>Energy</span></a></li>
	      </ul>
	   </li>
	   <li><a href='/about/'><span>About</span></a></li>
	   <li class='last'><a href='/contact/'><span>Contact</span></a></li>
	</ul>
	</div>
	</script>
	<div id="content">
		<%= yield %>
	</div>
	<footer>
		Copyright © 2013. All Rights Reserved.
	</footer>
</body>
</html>
